Repository Himenon/path-tree: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn run format, yarn run lint, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,json,yml,yaml,html,md}": ["prettier --write"],
  "*.{ts,tsx}": ["yarn run format", "yarn run lint"],
  "package.json": ["sort-package-json"]
}

feat: add getParentDirectories
  .DS_Store
  packages/collection/__tests__/getParentDirectories.test.ts
  packages/collection/__tests__/index.test.ts
  packages/collection/index.ts
  packages/collection/jest.config.json
  packages/collection/package.json
  packages/collection/tsconfig.json
  yarn.lock
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

feat: add sort file name
  packages/collection/.gitignore
  packages/collection/__tests__/getParentDirectories.test.ts
  packages/collection/__tests__/state.test.ts
  packages/collection/index.d.ts
  packages/collection/index.ts
Due: yarn run format, yarn run lint

feat: add workflows
  packages/.github/ISSUE_TEMPLATE/bug_report.md
  packages/.github/ISSUE_TEMPLATE/feature_request.md
  packages/.github/workflows/pull-request-workflow.yml
  packages/collection/package.json
Due: prettier --write, sort-package-json

feat: collectを追加
  packages/collection/__tests__/index.test.ts
  packages/collection/__tests__/state.test.ts
  packages/collection/__tests__/treeData.test.ts
  packages/collection/index.ts
Due: yarn run format, yarn run lint

feat: filesを調整
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/pull-request-workflow.yml
  packages/collection/package.json
Due: prettier --write, sort-package-json

feat: add tre ui
  packages/react-ui/package.json
  packages/react-ui/public/index.html
  packages/react-ui/src/DevServer.tsx
  packages/react-ui/src/Directory.tsx
  packages/react-ui/src/File.tsx
  packages/react-ui/src/Tree.tsx
  packages/react-ui/src/index.tsx
  packages/react-ui/tsconfig.json
  packages/react-ui/webpack.config.ts
  yarn.lock
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

feat: 不具合解消
  packages/react-ui/src/Directory.tsx
  packages/react-ui/src/Tree.tsx
Due: yarn run format, yarn run lint

feat: Componentをカスマイズできるようにした
  packages/react-ui/src/DevServer.tsx
  packages/react-ui/src/Directory.tsx
  packages/react-ui/src/File.tsx
  packages/react-ui/src/Tree.tsx
Due: yarn run format, yarn run lint

feat: visitedの処理を調整
  packages/react-ui/src/Tree.tsx
Due: yarn run format, yarn run lint

feat: add styles
  packages/react-ui/public/index.html
  packages/react-ui/src/DevServer.tsx
  packages/react-ui/src/Directory.tsx
  packages/react-ui/src/File.tsx
  packages/react-ui/src/Tree.tsx
Due: prettier --write, yarn run format, yarn run lint

refactor: 整理
  packages/collection/index.ts
  packages/react-ui/src/DevServer.tsx
  packages/react-ui/src/Directory.tsx
  packages/react-ui/src/DirectoryTree.tsx
  packages/react-ui/src/File.tsx
  packages/react-ui/src/Tree.tsx
Due: yarn run format, yarn run lint

feat: React,ReactDOMを追加
  packages/react-ui/package.json
  packages/react-ui/public/index.html
  packages/react-ui/public/main.css
  packages/react-ui/src/DevServer.tsx
  packages/react-ui/src/Directory.tsx
  packages/react-ui/src/File.tsx
  packages/react-ui/src/Tree.tsx
  packages/react-ui/webpack.config.ts
  yarn.lock
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

fix: keyの修正
  packages/react-ui/public/main.css
  packages/react-ui/src/Directory.tsx
  packages/react-ui/src/DirectoryTree.tsx
Due: yarn run format, yarn run lint

fix: サンプルの修正
  packages/react-ui/src/DevServer.tsx
Due: yarn run format, yarn run lint

feat: rename react-ui -> react
  packages/react/package.json
  packages/react/public/index.html
  packages/react/public/main.css
  packages/react/src/DevServer.tsx
  packages/react/src/Directory.tsx
  packages/react/src/DirectoryTree.tsx
  packages/react/src/File.tsx
  packages/react/src/Tree.tsx
  packages/react/src/index.tsx
  packages/react/tsconfig.json
  packages/react/webpack.config.ts
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

feat: readmeの追加
  LICENSE
  README.md
  packages/collection/LICENSE
  packages/collection/README.md
  packages/react/LICENSE
  packages/react/README.md
  packages/react/package.json
  packages/react/src/DevServer.tsx
  packages/react/src/index.tsx
Due: prettier --write, yarn run format, yarn run lint, sort-package-json

docs: update readme
  packages/collection/package.json
  packages/react/.gitignore
  packages/react/package.json
  packages/react/tsconfig.json
Due: prettier --write, sort-package-json

ci: add release workflow
  .github/workflows/release-workflow.yml
Due: prettier --write

ci: remove github release
  .github/workflows/release-workflow.yml
Due: prettier --write

fix: publishConfig
  packages/collection/package.json
  packages/react/package.json
Due: prettier --write, sort-package-json

fix: version
  package.json
  packages/collection/package.json
  packages/react/package.json
Due: prettier --write, sort-package-json

chore(release): release
  CHANGELOG.md
  lerna.json
  packages/collection/CHANGELOG.md
  packages/collection/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write, sort-package-json

docs: update README
  .DS_Store
  .gitignore
  README.md
  packages/react/README.md
Due: prettier --write

docs: update readme
  README.md
  packages/collection/README.md
  packages/react/README.md
Due: prettier --write

chore(deps): pin dependencies
  package.json
  packages/collection/package.json
  packages/react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update babel monorepo
  packages/react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency @types/react to v16.9.46
  packages/react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency webpack to v4.44.1
  packages/react/package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore(deps): update dependency autoprefixer to v9.8.6
  packages/react/package.json
  yarn.lock
Due: prettier --write, sort-package-json
